
<body>
  <div class="greating">
    Welcome!
  </div>
  <div class="selection">
    <div class="row">
  <div class="col-sm-12 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Product to the Stock</h5>
        <a routerLink="/AddItem" class="btn btn-outline-success">ADD</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Remove Product from the Stock</h5>
        <a routerLink="/DeleteItem" class="btn btn-outline-danger">REMOVE</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View the Stock in the Store</h5>
        <a routerLink="/stock" class="btn btn-outline-dark">VIEW</a>
      </div>
    </div>
  </div>
</div>
  </div>
</body>
