<div class="card">
  <div class="card-header bg-secondary">
    DELETE ITEM FROM STOCK
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
<form (ngSubmit)="onSubmit()">
  <div class="container mt-4">
    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" class="form-control" (change)="onCategoryChange($event)">
        <option value="0">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.category }}</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="product">Product</label>
      <select id="product" class="form-control" (change)="onProductChange($event)" [(ngModel)]="selectedProductId" [disabled]="!filteredProducts.length">
        <option value="0">Select Product</option>
        <option *ngFor="let product of filteredProducts" [value]="product.id">{{ product.name }}</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="quantity">Quantity</label>
      <input
        id="quantity"
        type="number"
        class="form-control"
        [(ngModel)]="quantity"
        [attr.max]="10"
        name="quantity"
        [attr.min]="1"
        required
      />
    </div>

    <button routerlink="/" type="submit" class="btn btn-danger mt-3">Remove from Stock</button>
  </div>
</form>
</blockquote>
</div>
</div>
